body {
    margin: 0;
    background-color: #CB010C;
}

/* construction body */
#propa {
    display: flex;
    background-color: white;
    align-items: center;
    flex-direction: column;
}

.under-con {
    max-width: 500px;
    max-height: 500px;
    margin-top: 150px;
}

.under-cons {
    margin: 25px 0 150px 0;
    font-size: 30px;
    font-family: system-ui;
    text-align: center;
}

.allum {
    display: inline;
}


/* Header */
.hero-bar {
    display: flex;
    flex-direction: row;
    /* background-color: #CB010C; */
    justify-content: center;
    align-items: center;
    height: 150px;
}

.hboy {
    background-color: white;
    padding: 0px 15px 5px 5px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    height: 100%;
    width: auto;
}

h1, h2 {
    /* background-color: white; */
    font-family: serif;
    padding: 15px;
    font-size: 2rem;
    color: #94011c;
    text-shadow: 30px 20px 2px #a8b6ff;
    
    
}

.views {
    padding-left: 25px;

}

.views span {
    padding: 3px;
    border-left: 5px grey;
    vertical-align: middle;
    font-family: sans-serif;
    font-variant: petite-caps;
    color: white;
    border-left: 3px solid #0E5496;
    font-size: .7rem;
    display: block;
}

.views span:first-child {
    border-left: none;
}

.social {
    padding-left: 5px;
}

.social span {
    padding: 7px;
    margin: 5px;
    background-color: white;
    font-family: monospace;
    font-weight: 900;
    border-radius: 100px;
    display: none;
}

.social a {
    text-decoration: none;
}

.bait {
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    margin-left: 15px;
    font-family: sans-serif;
    display: none;
}

.hero-bar span:hover {
    cursor: grab;
}

/* contact */
#sellSoul input, #sellSoul {
    text-align: center;
}


/* Home Body */
.yealol {
    background-size: cover;
    background-image: url(./imgs/madman.png);
    background-position: 50%;
    background-repeat: no-repeat;
    min-width: 100%;
    min-height: 100%;
    height: 600px;

}

.yealol img {
    height: 100px;
    width: 123px;
}

.panic-btn {
    position: relative;
    top: 300px;
    left: 300px;
}

.connectme {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.connectme p {
    display: block;
    font-family: sans-serif;
    font-weight: 800;
    color: white;
    font-size: 2vmax;
}

.connectme input {
    height: 30px;
}

.connectme button {
    margin-top: 10px;
}

/* "videos" */
.big-man-up-top {
    font-size: 2rem;
    margin-bottom: 10px;
}

.meta-data {
    font-size: .9rem;
    font-weight: 800;
    padding-bottom: 30px;
    font-size: 1.5rem;
    color: darkmagenta;
}

.song-row {
    padding: 10px;
    cursor: progress;
}

.song-row:hover {
    background-color: greenyellow;
    
}

.song-row span {
    padding: 3px 10px;
    font-family: sans-serif;
}

/* Blog posts */

.blog-post {
    margin: 30px 200px;
    padding: 0 15px;
    border-top: 15px solid cornflowerblue;;
    border-style: double;
}

.blog-post h3 {
    
    font-size: 2rem;
    font-weight: 700;
    
}

.blog-post img {
    margin: 30px 30px 30px 0;
    height: 200px;
    width: 197px;
    float: left;
    border: 10px inset blanchedalmond;
}

.blog-post span {
    font-size: 1.2rem;
    font-style: italic;
    color: darkgray;
}

.blog-post p {
    font-size: 1.1rem;
    text-indent: 40px;
    font-family: sans-serif;
}

/* terms and Privacy */


.hide {
    display: none;
}

.preamble {
    margin: 0 100px;
    margin: 0 100px;
    text-decoration: underline;
    font-weight: 600;
    font-style: italic;
    font-size: 1rem;   
    font-family: monospace; 
}

section p p {
    text-align: justify;
    font-family: cursive;
}


/* breakpoints */

@media screen and (min-width: 500px) {
    h1{
        font-size: 1rem;
    }
    .views span {
        display: inline;
        padding: 7px;
    }
    .hero-bar {
        height: 70px;
    }
}

@media screen and (min-width: 800px) {
    h1, h2 {
        font-size: 1rem;
    }
    .hboy {
        padding: 0px 30px 30px 15px;
    }
    .views span {
        font-size: .8rem;
    }
}

@media screen and (min-width: 1000px) {
    h1, h2 {
        font-size: 2rem;
    }
    .social span {
        display: block;
    }
    .hero-bar {
        height: 110px;
    }
    .hboy {
        width: auto;
    }
}

@media screen and (min-width: 1250px) {
    h1, h2 {
        font-size: 3rem;
    }
    .hero-bar {
        height: 150px;
    }
    .views span {
        font-size: 1rem;
    }
}

@media screen and (min-width: 1337px) {
    .social span{
        display: inline;
    }
}

@media screen and (min-width: 1500px) {
    .bait {
        display: flex;
    }
}